include *.coveragerc
include *.rc
include *.editorconfig
include *.importanizerc
include *.rst
include *.sh
include *.toml
include *.txt
include *.yaml *.yml
exclude .*
include LICENSE
include Makefile
include pytest.ini
include tox.ini
include Dockerfile
exclude docker-compose.override.yml
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include rest_witchcraft *.py

recursive-include docs *
recursive-exclude docs/_build *

recursive-include tests *
