[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
djangorestframework = "*"
six = "*"
django = "*"
sqlalchemy = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"
pre-commit = "*"
simplejson = "*"
