[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
"flake8" = "*"
simplejson = "*"
sphinx-autobuild = "*"
gitchangelog = "*"
yapf = "*"
pdbpp = "*"
pre-commit = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[packages]
"e1839a8" = {path = ".", editable = true}
django-sorcery = "*"
