[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
djangorestframework = "*"
six = "*"
Django = "*"
SQLAlchemy = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"
simplejson = "*"
pre_commit = "*"
Sphinx = "*"
sphinx-autobuild = "*"
sphinx_rtd_theme = "*"
gitchangelog = "*"
