-e .
coreapi
coreschema
pytest
pytest-cov
flake8
flake8-bugbear; python_version > '2.7'
simplejson
sphinx-autobuild
gitchangelog
yapf
pdbpp
pre_commit
psycopg2cffi
Sphinx
sphinx_rtd_theme
mock; python_version <= '2.7'
tox
tox-pyenv
coveralls
sqlalchemy_utils
